body {
    background-color: lightblue;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: verdana;
}

h1 {
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 10vw;
    text-align: center;
  }